<template>
  <div class="content">
    <div class="content__top-curve">
      <img
        class="content__top-curve__image"
        src="@/assets/images/header-bottom.png"
        alt=""
      />
    </div>

    <p class="content__head-text">Convert Your Manna:</p>
    <!-- <p class="content__head-text">Coming Soon...</p> -->

    <div class="content__card-container">
      <Card />
    </div>

    <!-- <div class="content__version-two-container">
      <VersionTwo />
    </div> -->

    <!-- <div class="content__logo">
      <img
        src="@/assets/images/Logo-white.png"
        alt=""
        class="content__logo__image"
      />
      <h1 class="content__logo__name">manna</h1>
    </div> -->

    <div class="content__footer-curve">
      <img
        class="content__top-curve__image"
        src="@/assets/images/footer-top.png"
        alt=""
      />
    </div>
  </div>
</template>

<script>
// import VersionTwo from "@/components/VersionTwo.vue";
import Card from "@/components/Card.vue";

export default {
  name: "Content",
  components: {
    // VersionTwo,
    Card,
  },
};
</script>
